html
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:#FF6363;

}
body {
    margin: 0;
    background-color: #202040;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  
}
#star-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
  }
  
